build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/bhavya1099/ecserver

    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ecserver
deploy:
  type: text
  content: >
    #!/bin/sh

    cd $ROOST_WORK_DIR/git/bhavya1099/ecserver

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    echo "helm upgrade ui-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}"


    helm upgrade ui-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}
test:
  - name: test
    configType: artillery
    configPath: ecserver/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Bhavya Goswami
lastUpdatedOn: 2022-08-03T09:17:50.826Z
